# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# macOS folder attributes
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
develop-eggs/
.installed.cfg
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# VSCode / IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
